# Dependabot configuration file.
version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    labels:
      - autosubmit
    groups:
       dependencies:
          patterns: ["*"]
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
