# Below are suggested reviewers for PRs to packages in this repository.
#
# These are suggestions; it is fine to have your changes reviewed by someone
# else.

/pkgs/blast_repo/              @kevmoo
/pkgs/canary/                  @mosuem
/pkgs/corpus/                  @mosuem
/pkgs/dart_flutter_team_lints/ @natebosch
/pkgs/firehose/                @mosuem
/pkgs/repo_manage/             @mosuem
/pkgs/sdk_triage_bot/          @mosuem
/pkgs/trebuchet/               @mosuem
