name: package:firehose

permissions: read-all

on:
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/firehose.yml'
      - 'pkgs/firehose/**'
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/firehose.yml'
      - 'pkgs/firehose/**'
  schedule:
    - cron: '0 0 * * 0' # weekly

defaults:
  run:
    working-directory: pkgs/firehose

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk: [stable, dev]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: ${{ matrix.sdk }}

      - run: dart pub get

      - run: dart analyze --fatal-infos

      - run: dart format --output=none --set-exit-if-changed .
        if: ${{ matrix.sdk == 'stable' }}

      - run: dart test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
