# A CI configuration to check PR health.

name: Health:Internal
on:
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened, labeled, unlabeled]
jobs:
  health:
    uses: ./.github/workflows/health.yaml
    with:
      local_debug: true
      coverage_web: false
      upload_coverage: false
      checks: version,license,coverage,breaking,do-not-submit
      fail_on: version,changelog,do-not-submit
      warn_on: license,coverage,breaking
