# A CI configuration to auto-publish pub packages from dart-lang/ecosystem.

# We don't use the regular publish.yaml script here in order to dogfood the
# publishing code at head.

name: Publish:Internal

on:
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened, labeled, unlabeled]
  push:
    tags: [ '[A-z]+-v[0-9]+.[0-9]+.[0-9]+*' ]

jobs:
  publish:
    uses: ./.github/workflows/publish.yaml
    with:
      local_debug: true
      use-flutter: false
      write-comments: false
      sdk: dev
    permissions:
      id-token: write
      pull-requests: write
